[user]
	name = 
	email = 
	signingkey = 
[alias]
	lg = log --color --graph --pretty=format:'%G? - %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --all
	cm = commit --verbose
	au = add -u
	st = status
	rv = remote -v
	fa = fetch --all --tags
	co = checkout
	ff = ! git fa && git merge --ff-only
	ci = check-ignore -v -n
	aup = add -u -p
	unsafe = push --no-verify
	last = ! last.sh
	merged = ! clean_merged.sh
[core]
	editor = vim
	excludesfile = ~/.gitignore
	quotepath = false
[push]
	default = current
[rerere]
	enabled = False
[color]
	ui = auto
[github]
	token = 
[merge]
	tool = meld
[commit]
	gpgsign = false
[gc]
	autoDetach = false
