[user]
        name = 
        email = 
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        cm = commit --verbose
        au = add -u
        aup = add -u -p
        st = status
        rv = remote -v
        fa = fetch --all
        co = checkout
        ff = merge --ff-only
        ci = check-ignore –n –v
[core]
        editor = vim
        excludesFile = /home/user/.gitignore
[push]
        default = current
[rerere]
        enabled = true
